p in the common form partial... focus on new
  p
    label(for='first_name') First Name:
    input(type='text', id='first_name', name='registry_patient[first_name]', value=registry_patient.first_name)
  p
    label(for='last_name') Last Name:
    input(type='text', id='last_name', name='registry_patient[last_name]', value=registry_patient.last_name)
  p 
    input(type='submit')
