
h1 Patients V1 (Plain Jade):
ul#registry_patients
  - each patient in registry_patients
    li= patient.first_name

h1 Patients V2 (Jade Partials):
each registry_patient in registry_patients
  .registry_patient
    include partials/registry_patient
  
p
  a(href='/registry_patients/new') New

#container Loading...
