
h1 Patients (via Jade Partials):
ul#registry_patient
  each registry_patient in registry_patients
    include _registry_patient
p
  a(href='/registry_patients/new') New

#container_data(hidden='true', registry_patients=registry_patients)
#container Loading...
