
h1 Patients V1 (Plain Jade):
ul#registry_patients
  - each patient in registry_patients
    p
      li= patient.first_name
p
  a(href='/registry_patients/new') New

h1 Patients V2 (Jade Partials):
ul#registry_patient
  each registry_patient in registry_patients
    include partials/registry_patient
p
  a(href='/registry_patients/new') New

#container_data(hidden='true', registry_patients=registry_patients)
#container Loading...
