!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    script(src='/javascripts/bootstrap-min.js')
    script(src='/templates/templates.js')
    script(src='/javascripts/NodeNetBackbone.js')
    script(src='/javascripts/collections/registry_patients.js')
    script(src='/javascripts/models/registry_patient.js')
    script(src='/javascripts/routers/registry_patients_router.js')
    script(src='/javascripts/views/registry_patients/edit.js')
    script(src='/javascripts/views/registry_patients/index.js')
    script(src='/javascripts/views/registry_patients/new.js')
    script(src='/javascripts/views/registry_patients/show.js')
    script(src='/javascripts/views/registry_patients/registry_patient.js')
  body!= body
  p layout footer...  Doctor's Tool Registry...
