p
  label(for='patient_FirstName') First Name:
p
  input(type='text', id='patient_id', name='patient[FirstName]', value=patient.FirstName) 
p
  label(for='patient_LastName') Last Name:
p
  input(type='text', id='patient_id', name='patient[LastName]', value=patient.LastName) 
p
  input(type='submit')
